@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-primary p-0 m-0;
  font-family:  Helvetica, Arial, sans-serif;
}

.custom-select:focus,
.custom-select:active {
  outline: none;
  border: none;
  box-shadow: none; /* Jika ingin menghilangkan shadow default juga */
}

.hasil-panjar-text{
 @apply text-green-primary
}
