@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-primary p-0 m-0;
  font-family:  Helvetica, Arial, sans-serif;
}

.custom-select:focus,
.custom-select:active {
  outline: none;
  border: none;
  box-shadow: none; /* Jika ingin menghilangkan shadow default juga */
 
}

.custom-select{
  background-color: white !important; /* Ensures a white background */
  color: black !important; /* Ensures black text */
}

.hasil-panjar-text{
 @apply text-green-primary
}

/* .slider-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: auto; 
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
} */



/* .activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);

}
.nextSlide {
  transform: translateX(100%);
} */

